footer
  box-sizing: border-box
  background-color : rgba(79, 195, 247, 0.85)
  text-align : center
  padding-top : 1em
  padding-bottom : 1em
  text-transform : uppercase
  letter-spacing : 3px

  h4
    box-sizing: border-box
    margin: 0 0
    color : #ffffff
    font-size: 1em
